<a href="https://colab.research.google.com/github/sukritkapil2/Machine-Learning-Projects/blob/main/Linear_Regression_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn.linear_model

data_sets_path = 'drive/MyDrive/DataSets/'

In [2]:
oecd_bli = pd.read_csv(data_sets_path + '/oecd_bli_2015.csv', thousands = ',')
gdp_per_capita = pd.read_csv(data_sets_path + 'gdp_per_capita.csv', thousands = ',', delimiter = '\t', encoding='latin1', na_values='n/a')

     LOCATION         Country INDICATOR  \
0         AUS       Australia   HO_BASE
1         AUT         Austria   HO_BASE
2         BEL         Belgium   HO_BASE
3         CAN          Canada   HO_BASE
4         CZE  Czech Republic   HO_BASE
...       ...             ...       ...
3287      EST         Estonia   WL_TNOW
3288      ISR          Israel   WL_TNOW
3289      RUS          Russia   WL_TNOW
3290      SVN        Slovenia   WL_TNOW
3291     OECD    OECD - Total   WL_TNOW

                                      Indicator MEASURE Measure INEQUALITY  \
0            Dwellings without basic facilities       L   Value        TOT
1            Dwellings without basic facilities       L   Value        TOT
2            Dwellings without basic facilities       L   Value        TOT
3            Dwellings without basic facilities       L   Value        TOT
4            Dwellings without basic facilities       L   Value        TOT
...                                         ...     ...     ...        ...
3287  Time devoted to leisure and personal care       L   Value        WMN
3288  Time devoted to leisure and personal care       L   Value        WMN
3289  Time devoted to leisure and personal care       L   Value        WMN
3290  Time devoted to leisure and personal care       L   Value        WMN
3291  Time devoted to leisure and personal care       L   Value        WMN

     Inequality Unit Code        Unit  PowerCode Code PowerCode  \
0         Total        PC  Percentage               0     units
1         Total        PC  Percentage               0     units
2         Total        PC  Percentage               0     units
3         Total        PC  Percentage               0     units
4         Total        PC  Percentage               0     units
...         ...       ...         ...             ...       ...
3287      Women      HOUR       Hours               0     units
3288      Women      HOUR       Hours               0     units
3289      Women      HOUR       Hours               0     units
3290      Women      HOUR       Hours               0     units
3291      Women      HOUR       Hours               0     units

      Reference Period Code  Reference Period  Value Flag Codes  \
0                       NaN               NaN   1.10          E
1                       NaN               NaN   1.00        NaN
2                       NaN               NaN   2.00        NaN
3                       NaN               NaN   0.20        NaN
4                       NaN               NaN   0.90        NaN
...                     ...               ...    ...        ...
3287                    NaN               NaN  14.43        NaN
3288                    NaN               NaN  14.24          E
3289                    NaN               NaN  14.75          E
3290                    NaN               NaN  14.12        NaN
3291                    NaN               NaN  14.74        NaN

                Flags
0     Estimated value
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
3287              NaN
3288  Estimated value
3289  Estimated value
3290              NaN
3291              NaN

[3292 rows x 17 columns]